
body{
  background-color: black;
  color: white;
  text-align: center;
  font-family: Verdana;
}
a{
  color: aquamarine;
  font-size: 16px;
}
h1{
  font-weight: normal;
  font-size: 50px;
}
h2{
  font-weight: 300;
  font-size: 42px;
}
h4{
  font-size: 21px;
  color: gray;
}
#copyright{
  text-align: right;
  font-weight: 400;
}
